.result {
  width: 90%;
  margin: 120px auto 0;

  .text {
    margin-bottom: 20px;
  }
}

.no-result {
  background: #f8f9fa;
  width: 100%;
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 1rem;
  border: 2px solid #352D30;
}

.card-result {
  padding: 15px;
  margin-bottom: 20px;
  width: 100%;
  min-height: 400px;
  border-radius: 1rem;
  box-shadow: 0 1px 2px 1px rgba(100, 67, 82, 0.25);
  display: grid;
  grid-template-areas:
          'thumbnail  title       certif'
          'thumbnail  adresse     certif'
          'thumbnail  description costic'
          'prestation prestation  prestation'
          'lien       lien        lien';
  grid-template-columns: 210px 1fr auto;
  grid-template-rows: 50px auto 1fr 1fr auto;

  .thumbnail {
    grid-area: thumbnail;
    width: 200px;
    height: 200px;
    background-color: #c1c1c1;
  }
  .name {
    grid-area: title;
    margin-top: auto;
    color: #644352;
    font-size: 2rem;
  }

  .adresse {
    margin: 0;
    font-weight: 600;
    grid-area: adresse;
    color:  #644352;
    font-size: .9rem;
  }

  .desc {
    margin: 10px 0 0 0;
    grid-area: description;
  }

  .certif {
    grid-area: certif;
  }

  .costic {
    grid-area: costic;
  }

  .services {
    grid-area: prestation;
    display: flex;
    flex-flow: wrap;

    span:first-child {
      width: 100%;
      height: max-content;
    }

    .prestations {
      display: flex;
      flex-flow: wrap;
      align-content: baseline;
      height: calc(100% - 24px);

      .prestation {
        margin: .25rem .5rem;
        padding: .3rem .8rem;
        min-width: fit-content;
        width: max-content;
        height: min-content;
        font-size: .8rem;
        border-radius: 2rem;
        background: #F2F2F2;
        order: 2;

        &.recherche {
          order: 1;
          background: #ca476c;
          color: #ffffff;
        }
      }
    }

  }

  .lien {
    grid-area: lien;

    .btn {
      border-radius: 2rem;
      border: 2px solid #ca476c;
      font-size: 1rem;
      font-weight: 700;
    }
  }
}

@media (min-width: 1200px) {
  .result {
    margin: 70px auto 0;
  }
}